/* UTILITY */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* HEADER */

header {
  background-color: paleturquoise;
  height: 100px;
}

/* BODY */

/* MAIN */

/* FOOTER */
