/* UTILITY */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

header, .jumbotron, footer {
  color: white;
}

.button {
  border-radius: 30px;
  padding: 20px 40px;
  color: #23272a;
  background-color: white;
  text-decoration: none;
  font-weight: bold;
}

.button.black {
  color: white;
  background-color: #23272a;
}

.button.blue {
  color: white;
  background-color: #8ea1e1;
}

.jumbotron h1 {
  font-size: 3.5rem;
  margin-bottom: 3.5rem;
}

.text h2 {
  font-size: 2.5rem;
  margin-bottom: 2.5rem;
}

.jumbotron p, .text p {
  font-size: 1.2rem;
  line-height: 2rem;
  margin-bottom: 1.2rem;
}

/* HEADER */

header {
  background-color: #3161e0;
  padding: 20px 0;
}

header>.container {
  position: relative;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 10px;
}

header a.home {
  position: absolute;
  left: 0;
  top: 0;
}

header a.login {
  position: absolute;
  right: 0;
  top: 0;
  padding: 10px 20px;
}

header ul{
  list-style: none;
}

header li{
  display: inline-block;
}

header li a{
  color: white;
  text-decoration: none;
  margin: 20px;
  font-weight: bold;
}

/* BODY */

.jumbotron {
  background-image: url(img/jumbo.png);
  background-size: cover;
  background-position: center;
  height: 500px;
  text-align: center;
}

.jumbotron .container{
  max-width: 100%;
  height: 100%;
  margin: 0 auto;
  padding-top: 100px;
  background-color: #386af346;
}

.jumbotron div{
  padding: 20px;
}

/* MAIN */

section.alt {
  background-color: #f6f6f6;
}

main section .container {
  padding: 100px 0;
  overflow: hidden;
}

main section .container>div {
  float: left;
}

main section .container .text {
  width: 40%;
  padding-left: 100px;
}

main section.alt .container .text {
  padding-left: 0;
  padding-right: 100px;
}

main section.big .container {
  padding-bottom: 0;
}

main section.alt.big .container .text {
  padding: 0;
  margin-bottom: 100px;
}

main section.big .container>div {
 width: 100%;
 text-align: center;
 padding: 0;
}

main section.big .container>div.star-background {
  overflow: hidden;
  margin: 0 auto;
  padding: 100px 200px;
}

.star-background h3 {
  font-size: 1.5rem;
  font-weight: bold;
  background-image: url(img/stars.svg);
  background-position: center;
  background-repeat: no-repeat;
  padding: 50px 50px;

}

main section .container .illustration {
  width: 60%;
}

main section .container .illustration img {
  width: 100%;
}


/* FOOTER */

footer {
  background-color: #23272a;
  overflow: hidden;
}

footer .container {
  overflow: hidden;
}

footer .container.top {
  padding: 50px 0 20px 0;
  border-bottom: 1px solid #748cdf;
}

footer .container.bottom {
  padding: 20px 0 100px 0;
  position: relative;
}

footer .social {
  width: 30%;
  float: left;
}

footer .social h3 {
  color: #748cdf;
  font-size: 1.5rem;
  line-height: 1.8rem;
}

footer .social .flag {
  height: 1rem;
}

footer .social>*{
  padding-bottom: 20px;
}

footer ul {
  float: left;
  list-style: none;
  width: 15%;
  line-height: 1.8rem;
}

footer ul li {
  font-weight: bold;
}

footer ul li:first-child {
  color: #748cdf;
}

footer .container.bottom>* {
  position: absolute;
  top: 20px;
}

footer .container.bottom .button {
  font-size: 0.8rem;
  right: 0;
  padding: 10px 20px;
}